body{
	margin:0;
	padding:0;
	background-color: #212121;
}
header{
	display: flex;
	justify-content: space-between;
	background-color:red;
}
.nav_panel{
	width: 35%;
} 
.nav_additional{
	width: 35%;
}
.nav_panel ul{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}
.nav_additional ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.wrap1{
	width: 356px;
    margin: 0 30%;

}
.wrap2{
	width: 273px;
}